div.col-xs-3
  a(href='/admin/admins') Admins Data
div.col-xs-3
  a(href='/admin/parks') Parks Data
div.col-xs-3
  a(href='/admin/adopt') Adopter Data
div.col-xs-3
  a(href='/admin/signout') Sign Out    
